In [1]:
import pandas as pd
from scipy.stats import zscore

C:\Users\adrie\AppData\Local\Temp\ipykernel_11268\2692881844.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
file_path = 'Marine_Fish_Data.csv'
fish_data = pd.read_csv(file_path)

In [3]:
fish_data.head()

,Species_Name,Region,Breeding_Season,Fishing_Method,Fish_Population,Average_Size(cm),Overfishing_Risk,Water_Temperature(C),Water_Pollution_Level
0,Salmon,North Atlantic,Summer,Net,8270,71.92,No,24.68,High
1,Tuna,Pacific Ocean,Monsoon,Line,1860,85.33,No,21.33,High
2,Cod,Mediterranean Sea,Summer,Line,6390,88.02,No,16.98,Medium
3,Herring,Pacific Ocean,Monsoon,Trawl,6191,85.46,Yes,28.51,Low
4,Herring,Indian Ocean,Monsoon,Trawl,6734,48.35,Yes,25.37,Low

In [5]:
missing_values = fish_data.isnull().sum()
missing_values

Species_Name             0
Region                   0
Breeding_Season          0
Fishing_Method           0
Fish_Population          0
Average_Size(cm)         0
Overfishing_Risk         0
Water_Temperature(C)     0
Water_Pollution_Level    0
dtype: int64

In [8]:
duplicates = fish_data.duplicated().sum()
duplicates

0

In [15]:
for column in ['Fish_Population', 'Average_Size(cm)', 'Water_Temperature(C)']:
    Q1 = fish_data[column].quantile(0.25)
    Q3 = fish_data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    fish_data = fish_data[(fish_data[column] >= lower_bound) & (fish_data[column] <= upper_bound)]

fish_data.head()

,Species_Name,Region,Breeding_Season,Fishing_Method,Fish_Population,Average_Size(cm),Overfishing_Risk,Water_Temperature(C),Water_Pollution_Level
0,Salmon,North Atlantic,Summer,Net,8270,71.92,No,24.68,High
1,Tuna,Pacific Ocean,Monsoon,Line,1860,85.33,No,21.33,High
2,Cod,Mediterranean Sea,Summer,Line,6390,88.02,No,16.98,Medium
3,Herring,Pacific Ocean,Monsoon,Trawl,6191,85.46,Yes,28.51,Low
4,Herring,Indian Ocean,Monsoon,Trawl,6734,48.35,Yes,25.37,Low

In [21]:
cleaned_file_path = 'Cleaned_Marine_Fish_Data.csv'
fish_data.to_csv(cleaned_file_path, index=False)